/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

:root {
  --blue-color: #1992d4;
  --dark-blue-color: #157ab0;
  --yellow-color: #eab308;
}

/* Standards */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
}

.row {
  --bs-gutter-x: unset;
}

.sidebar {
  background-color: var(--blue-color);
}

.sidebar-item {
  display: flex;
  margin: 0 1rem;
  padding: 0.25rem 0.5rem;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar-item:hover {
  background-color: var(--dark-blue-color);
}

.sidebar-item p {
  font-weight: 500;
  margin-bottom: 0;
}

.header-top-left {
  width: 60%;
}

.header-bottom-right button {
  background-color: var(--blue-color);
}

.header-bottom-right button:hover {
  background-color: var(--dark-blue-color);
}

.profile-image-1 {
  width: 42px;
  height: auto;
}

.profile-image-2 {
  width: 72px;
  height: auto;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.card {
  border-left: 0.5rem solid var(--yellow-color);
}

main {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1rem;
}

.announcements {
  font-size: 0.75rem;
  height: 98%;
}

p {
  margin-bottom: 0;
}

hr {
  margin: 0.5rem 0;
}
